body{
  margin: 0px;
  padding: 0px;
  background-color:#803D3B;
}
.Quiz{
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  width: 70%;
  display: flex;
  margin: auto;
  flex-direction: column;
  border-radius: 10px;
  background-color:rgb(219, 234, 200);
}